package com.hungh2002.config.environmentVariable;

public class Env {

	// Database configuration
    //// relational database management system
    public static final String RDBMS = "";
    public static final String HOST = "";
    public static final String PORT_OF_HOST = "";
    public static final String DATABASE_NAME = "";
    public static final String USERNAME = "";
    public static final String PASSWORD ="";
}
